.image{
 width:1300px;
  height:400px;
  margin:auto;
  background: url('http://stayathome-syllabus.greenfox.academy/week01/assets/first-website-header.png');
  background-repeat: no-repeat;
  background-size: contain;
  position:relative;
  margin-bottom:60px;
  }
h1{
  margin: 0;
  position:absolute;
  bottom:50px;
  left: 300px;
  font-weight: normal;
  font-size: 34px;
  line-height: 1;
  color: #222;
}

.own{
  font-size: 70px;
  margin-top: 0px;
}

li{
  list-style-type: square;
}

 header, blockquote{
  font-family: 'Abril Fatface', cursive;
}

main, footer {
  width: 700px;
  margin: auto;
  font-family: 'Josefin Sans', sans-serif;
  color:#222;
  line-height: 1.5
}

blockquote::before {
  content: '”';
  display: inline-block;
  transform: rotate(180deg);
  position:absolute;
  top:-90px;
  left:0px;
  font-size:120px
}
blockquote{
  background: #333;
  color: white;
  padding: 44px;
  font-size: 48px;
  margin: 40px -45px;
  position:relative;
}
 
h2 {
  text-transform: uppercase;
  margin: 45px 0px;
  
}
h3 {
  margin:35px 0px 00px 0px;
  font-size: 24px;
  line-height: 1.4;
}

h4 {
  font-family: 'Merriweather', serif;
  font-style: italic;
  font-size: 15px;
  margin:0
}
hr {
  border:solid;
  margin-top: 50px;
  width: 700px;
}